################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VueAutoComplete/VueAutoComplete/obj
/VueAutoComplete/VueAutoComplete/node_modules
/VueAutoComplete/VueAutoComplete/bin/Debug/netcoreapp2.1
/VueAutoComplete/VueAutoComplete
/VueAutoComplete/.vs
