<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VueAutoComplete</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.css" />
    <script src="~/vendor/vue/dist/vue.js"></script>
    <script src="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="~/vendor/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - VueAutoComplete</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
